.WeatherCardStyle {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgb(88, 145, 135)),
    to(rgb(175, 223, 175))
  );
  background: -o-linear-gradient(bottom, rgb(88, 145, 135), rgb(175, 223, 175));
  background: linear-gradient(to top, rgb(88, 145, 135), rgb(175, 223, 175));
  margin-bottom: 120px;
  font-size: 1.2rem;
  color: rgb(244, 247, 244);
  font-weight: 700;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 300px;

  &.sunny {
    background: url("../assets/sunny-weather.gif") no-repeat center center;
    background-size: cover;
  }

  &.rainy {
    background: url("../assets/rain.gif") no-repeat center center;
    background-size: cover;
  }

  .clouds-animation {
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: url("../assets/clouds.gif") repeat-x;
    animation: cloudsMove 3000 linear ease-out;
  }

  @keyframes cloudsMove {
    from {
      left: -100%;
    }
    to {
      left: 100%;
    }
  }
}
