.App {
  text-align: center;
  position: relative;
  transition: background-image 0.5s ease-in-out;
}

.App.night {
  background-color: rgb(2, 15, 13);
  background-image: url("../public/assets/k6fjo5ie1tna1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.App.day {
  background-color: rgba(218, 154, 82, 0.945);
  background-image: url("../public/assets/day-background.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
}

.fog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fog-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App-header {
  margin-top: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.App-header h1 {
  color: white;
}

.App .show .App-header {
  opacity: 1;
}

.weather-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.weather {
  margin: 0;
  padding: 0;
}

.toggle-icon {
  position: fixed;
  top: 20px;
  right: 40px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  z-index: 99999;
}
