.App {
  text-align: center;
  position: relative;
}

.fog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fog-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App-header {
  margin-top: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.App-header h1 {
  color: white;
}

.App .show .App-header {
  opacity: 1;
}

.weather-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.weather {
  margin: 0;
  padding: 0;
}
