body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-image 9000ms ease-in-out;
}

body.night {
  background-color: rgb(2, 15, 13);
  background-image: url("../public/assets/k6fjo5ie1tna1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body.day {
  background-color: rgb(255, 223, 186);
  background-image: url("../public/assets/day-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  height: 100%;
}
