.weather {
  //background-color: rgb(134, 118, 153);
  background-image: url("../public/assets/k6fjo5ie1tna1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.Weather-title {
  color: rgb(249, 250, 250);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.weather-btns {
  margin-bottom: 20px;
}

.weather-card {
  margin-bottom: 20px;
}

.btn {
  background-color: rgb(88, 145, 135);
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0 15px 5px;
}

.city-input {
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}
